@import "../../styles/colors.scss";

.cards {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 22px;
}

.contract-container {
  margin-top: 5rem;

  h1 {
    color: $black-light;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }
}
